
<div style="padding:20px;">
    <h1 align="center">Theater 3D</h1>
    <table align="center">
        <tr>
            <td width=50px align="center"><button id="led_btn" class="btn lights" value="1"><a onclick="lights()">OFF</a></button></td>
            <td width=50px align="center"><button class="btn tilt-up"><a onclick="tilt_camera_u()">Tilt Up</a></button></td>
            <td width=50px></td>
                </tr>
                <tr>
            <!-- <input type="text" class="input-xxlarge"> -->
            <!-- <button class="btn btn-prim">{{ _('Go') }}</button> -->
                <td width=50px align="center"><button class="btn pan-left"><a onclick="pan_camera_l()">Pan Left</a></button></td>
                <td width=150px align="center"><button class="btn_swap_rotation"><a onclick="swap_rotation()">CW-to-CCW</a></button></td>
                    <td width=50px align="center"><button class="btn pan-right"><a onclick="pan_camera_r()">Pan Right</a></button></td>
        </tr>
                <tr>
                    <td width=50px align="center"></td>
                <td width=50px align="center"><button class="btn tilt-down"><a id="tlt_d" onclick="tilt_camera_d()">Tilt Down</a></button></td>
                    <td width=50px></td>
                </tr>
        </tr>
        <!-- <tr height=50px>
        
            <td width=100px align="center">
            <button class="btn_swap_rotation"><a onclick="swap_rotation()">CW-to-CCW</a></button>
            </td>
            <td width=100px align="center">
                <button class="btn_swap_servos"><a onclick="swap_servos()">Swap Servos</a></button>
            </td>
            <td width=100px align="center">
            <button class="btn_reset_servos"><a onclick="reset_servos()">Reset Servos</a></button>
                </td>
        </tr> -->
    </table>
    <hr>
    <div class="cam_view">
        <img height=600px id="webcam_image" src="/webcam/?action=stream&amp;1578205011186">

        </img>
    </div>
</div>

<script name="myjs" type="text/javascript">

{% block jquery %}

        function tilt_camera_u(){
            console.log("tilting up");
            var request = {
                "direction": "U"
            };

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "plugin/theater3d/tilt_fxn",
                data: request,
                success: function(data){
                    console.log("success")
                }
            });

        }

        function tilt_camera_d(){
            console.log("tilting down");
            var request = {
                "direction": "D"
            };

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "plugin/theater3d/tilt_fxn",
                data: request,
                success: function(data){
                    console.log("success")
                }
            });

        }

        function pan_camera_l(){
            console.log("panning left");
            var request = {
                "direction": "L"
            };

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "plugin/theater3d/pan_fxn",
                data: request,
                success: function(data){
                    console.log("success")
                }
            });

        };

        function pan_camera_r(){
            console.log("panning right");
            var request = {
                "direction": "R"
            };

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "plugin/theater3d/pan_fxn",
                data: request,
                success: function(data){
                    console.log("success")
                }
            });

        }

        function swap_servos(){
            console.log("swapping servo assignments");
            var request = {
                "opt": "servos"
            };

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "plugin/theater3d/swap_fxn",
                data: request,
                success: function(data){
                    console.log("success")
                }
            });

        }

        function swap_rotation(){
            console.log("swapping rotation for both servos");
            var request = {
                "opt": "dir_b"
            };

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "plugin/theater3d/swap_fxn",
                data: request,
                success: function(data){
                    console.log("success")
                }
            });

        }

        function lights(){
            console.log("toggling lights");
            var val = $("#led_btn").val();
            var new_val = "";
            if (val == "1"){
                var request = {
                    "set": "ON"
                };
                new_val = "1";
            }
            else{
                var request = {
                    "set": "OFF"
                };
                new_val = "0";
            }      
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "plugin/theater3d/lights_fxn",
                data: request,
                success: function(data){
                    console.log("success")
                    $("#led_btn").val(new_val)
                }
            });

        }    



{% endblock %}

</script>
                        
